{% extends 'base.html' %} {% block title %}Contact{% endblock title %} {% block body %}


<div class="container-fluid px-0 mb-3">
    <img src="/static/img/About_Us_Banner_.jpg" class="d-block w-100" alt="contact"></div>


<div class="container my-2">
    <h1 style="
    position: initial;
    top: 67px;
    right: 524px;
    color: black;
    font-size: xxx-large;
    text-align: center;"></h1>
    <div class="container-fluid px-0 mb-3">
        <h1 style="text-align: center;color: #d6a51c; ">WE’RE AT EVERY TABLE</h1>

    </div>



    {% endblock body %}