{% extends 'base.html' %} {% block body %}


<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/menu/pizza/Farmhouse.jpg" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>


                    <div class="card-body">
                        <h1 class="card-text">Farmhouse</h1>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <input type="button" id="btnShowMsg" class="btn btn-sm btn-outline-warning" value="Buy" onClick="showMessage()" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/menu/pizza/Peppy_Paneer.jpg" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>


                    <div class="card-body">
                        <h1 class="card-text">Peppy_Paneer</h1>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <input type="button" id="btnShowMsg" class="btn btn-sm btn-outline-warning" value="Buy" onClick="showMessage()" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/menu/pizza/Veg_Extravaganz.jpg" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>


                    <div class="card-body">
                        <h1 class="card-text">Veg Extravaganza</h1>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <input type="button" id="btnShowMsg" class="btn btn-sm btn-outline-warning" value="Buy" onClick="showMessage()" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/menu/pizza/Double_Cheese_Margherita.jpg" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h1 class="card-text">Double Cheese Margherita</h1>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <input type="button" id="btnShowMsg" class="btn btn-sm btn-outline-warning" value="Buy" onClick="showMessage()" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/menu/pizza/IndianTandooriPaneer.jpg" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>


                    <div class="card-body">
                        <h1 class="card-text">Indi Tandoori -Paneer</h1>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <input type="button" id="btnShowMsg" class="btn btn-sm btn-outline-warning" value="Buy" onClick="showMessage()" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/menu/pizza/Mexican_Green_Wave.jpg" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>


                    <div class="card-body">
                        <h1 class="card-text">Mexican Green -Wave</h1>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <input type="button" id="btnShowMsg" class="btn btn-sm btn-outline-warning" value="Buy" onClick="showMessage()" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>

</main>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>

</html>
{% endblock body %}